{% extends "./alumnos.html" %}

{% block title %} Gestión de Alumnos {% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <h2>Registro de Alumnos</h2>
        <div class="card">
            <div class="card-body">
                <form action="{% url 'registrar_alumno' %}" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre"
                            maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtApellidos" name="txtApellidos" class="form-control" placeholder="Apellidos"
                            maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="date" id="txtFechaNacimiento" name="txtFechaNacimiento" class="form-control" placeholder="Fecha de Nacimiento">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Alumnos</h1>
        <div class="table-responsive py-1">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Fecha de Nacimiento</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for a in alumnos %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{a.alumno_nombre}}</td>
                        <td>{{a.alumno_apellidos}}</td>
                        <td>{{a.alumno_fecha_nacimiento}}</td>
                        <td><a href="{% url 'edicion_alumno' a.id_alumno %}" class="btn btn-info">Editar</a></td>
                        <td><a href="{% url 'eliminar_alumno' a.id_alumno %}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}