<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Cursos</title>
</head>
<body>
    <h1>Lista de Cursos</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nombre del Curso</th>
                <th>Créditos</th>
            </tr>
        </thead>
        <tbody>
            {% for c in cursos %}
                <tr>
                    <td>{{ c.nombre }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
